/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
  background-image: url(./assets/chaipatti.png);
  background-size: cover;
  background-position-y:-600px;
  background-color: rgb(75, 75, 75);
  background-blend-mode: overlay;
}

.header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 20px 10vh;
}

.logo {
  display: flex;
  align-items: center;
  gap:10px;
  color:#8b4513;
  font-weight: 600;
  font-size: x-large;
}

.logo img {
  border-radius: 24px;
  padding:2px;
  border:2px solid brown;

}

.nav-menu{
  display: flex;
  align-items: center;
}

.nav-menu a {
  padding-left: 30px;
  text-decoration: none;
  color: #8b4513;
  font-weight: 500;
}

.nav-menu a:hover {
  scale: 1.1;
  color: black;
}

.hero {
  
  padding: 20vh 0pt;
}

.hero-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap:20px;
}
.hero-text h1 {
  font-size: 46pt;
  color:white;

}

.hero-text p {
  color: white;
  font-size: 15pt;

}

.shop-button {

  background-color: #8b4513;
  border: 1px solid #8b4513;
  padding: 15px 40px;
  color: white;
  border-radius: 25px;
  font-size: 12pt;
}

.shop-button:hover {
  background-color: white;
  color:#8b4513;

}

.tea-collection {
  background-color: white;
  text-align: center;
  padding-bottom: 50px;
} 

.tea-collection h2 {
  color: #8b4513;
  font-size: 26pt;
  padding: 50px 0px;
}

.tea-cards {
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  justify-content: space-between;
  align-items: center;
  margin:0px 15vw ;

}

.tea-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 280px;
  border-radius: 15px;
  padding: 20px 50px;
  box-shadow: 1px 1px 5px rgba(188, 188, 188, 0.663);
}

.tea-card h3 {

  color: #8b4513;

}

.tea-card p {
  font-size: medium;
  color: rgb(70, 70, 70);
}
