/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid black; */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e3e3e3;
}

.container {
  
}

h1 {
  color:rgb(78, 78, 78)
}


.pricing-heading {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 30px;
}

.pricing-heading img{
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2vw;
  margin-top: 12px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px 25px;
  gap:10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.pricing-card:hover {
  scale: 1.0125;
  box-shadow: 5px 5px 10px #ffa556e5;
}

.pricing-card.popular {
  padding-top: 16px;
  border: 2px solid #ff7800;
  position: relative;
}

.popular-badge {
  background-color: #ff9335;
  padding:2px 10px;
  border-radius: 25px;
  position: absolute;
  top:-15px;
  color:white;
  
}

.price {
  font-weight: bold;
  font-size: 28px;
}

.period {
  font-size: smaller;
  color: rgb(65, 65, 65);

}

.features {
  text-align: center;
  font-size:small;
  padding-left: 10px;
}

.features li {
  list-style-type: "\1F375";
  padding: 5px 0px;
}

.subscribe-btn {
  background-color: #ffa454;
  padding:10px 15px;
  border-radius: 25px;
  border-style: none;
  margin:6px 0px;
  font-weight: 200;
  border: 2px solid transparent;
}

.subscribe-btn:hover {
  border: 2px solid #ff9335;
  font-weight: 400;
  background-color: transparent;
}
