/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid white; */
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-image: url(./assets/chaigym.png);
  padding-bottom: 40px;
  background-size: cover;
  background-position-y: 0px;
  background-blend-mode: overlay;
  background-color: #2a2a2a;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5vw;
  background-color: #333333;
  color: white; 
}

.logo {
  display: flex;
  align-items: center;
  gap:8px;
  font-weight: 600;
}

.logo img {
  border-radius: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: small;
  padding:0px 12px;
  border: 1px solid transparent;
}

.nav-links a:hover {
  border: 1px solid orange;
  border-radius: 15px;
  
}

/* Hero section styles */
.hero {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap:50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 30px 0px;
  gap:20px;
}


.hero-content h1 {
  font-weight: bolder;
  color: white;
  font-size: 42pt;
  
}

.hero-content p {
  color:white;
  font-size: 15pt;
}

.cta-button {
  padding:12px 20px;
  background-color: #ff7902;
  border:2px solid transparent;
  font-weight:500;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 12pt;
}

.cta-button:hover {
  border: 2px solid #ff7902;
  background-color: transparent;
  color:white;
}

/* Features section styles */
.features {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.728);
  margin: 0px 5vw;
  padding:5vh 0pt;
  flex-wrap: wrap;
  border-radius: 24px;
}

.feature {
  margin: 20px;
  border: 1px solid #ff7902;
  border-radius: 12px;
  text-align: center;
  padding: 10px 30px;
  width: 300px;
}


.feature img{
  
}
.feature h3 {
  color: #ff7902;
  font-size: 14pt;
  padding-bottom:5px;
}

.feature p {
  color: white;
  font-size: medium;
}
